opencv-python
opencv-contrib-python
numpy==1.23.5  # Use a compatible version for Python 3.11
Pillow
paramiko
flask-cors
python-dotenv
insightface
fastapi
pydantic
gunicorn
mediapipe==0.10.8  # Compatible with Python 3.11+
